@import "_webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-variant-ligatures: none;
}

/* Alpine.js */
[x-cloak] {
  display: none !important;
}

strong {
  @apply font-gt-alpina-bold font-normal;
}

p:not(:last-child) {
  @apply mb-20
}

/* Form elements */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}
